<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent type="Sitecore.Cleanup.PublishQueue, Sitecore.Cleanup" method="Run" interval="00:30:00">
        <Threshold>900</Threshold>
      </agent>
      <agent type="Sitecore.Cleanup.History, Sitecore.Cleanup" method="Run" interval="00:30:00">
        <Threshold>900</Threshold>
      </agent>
      <agent type="Sitecore.Cleanup.EventQueue, Sitecore.Cleanup" method="Run" interval="00:30:00">
        <Threshold>900</Threshold>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
